---
import "./logo.css";
import { siteData as data } from "@src/data/siteData";
---

<a class="logo" href="/">
  <img class="logo__img" src={data.siteLogo} alt={data.siteTitle} />
  <h3 class="logo__title text-gradient">{data.siteTitle}</h3>
</a>
