.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo__img {
    flex-basis: 10%;
    width: 64px;
    height: 100%;
    object-fit: cover;
}

.logo__title {
    font-size: 23px;
}