---
const {title, size="big"} = Astro.props;

---

<h2 class={`title text-gradient ${size} `}>{title}</h2>

<style>
    .title{
        font-weight: 600;
    }
    .big{
        font-size: 40px;
    }
    .medium{
        font-size: 30px;
    }
    .small{
        font-size: 25px;
    }

</style>