.header {
  display: flex;
  position: fixed;
  top: 20px;
  width: 100%;
  justify-content: center;
  z-index: 10;

  & .logo {
    height: 50px;
  }
}

.header__container {
  display: flex;
  width: 95%;
  height: 70px;
  background-color: #0000007d;
  border-radius: 12px;
  max-width: 1200px;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
