.header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}


.header__container {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    height: 8dvh;
    margin-top: 2rem;
    max-width: 1200px;
    background: #0000007d;
    border-radius: 16px;
    padding: 1rem 2rem;
    backdrop-filter: blur(14px);
}

@media screen and (max-width: 768px) {
    .header{
        padding: 0 1rem;
    }
    .header__container {
        justify-content: space-between;
        align-self: center;
        width: 95%;
        height: auto;
        margin-top: 1.5rem;
        min-width: 24rem;
        padding: .8rem 1rem;
    }
}

.header__container:has(.header__list.is-active) {
    backdrop-filter: none;
}
