 .header__menu {
   @media (width < 768px) {
     display: none;
   }
 }



 .menu {
   padding: 1rem;
   list-style: none;
   display: flex;
   align-items: center;
   flex-wrap: wrap;

   @media (width < 768px) {
     flex-direction: column;
   }
 }


 .menu__link {
   text-decoration: none;
   padding: 0.5rem 1rem;
   display: flex;
   align-items: center;
   gap: 0.8rem;
   color: color-mix(in srgb, var(--light-spot-color) 30%, white 70%);
   position: relative;
 }

 @media screen and (min-width: 768px) {
   .menu__link::after {
     position: absolute;
     top: 25px;
     left: 0;
     content: "";
     width: 100%;
     transform: scale(0);
     transform-origin: 1;
     height: 2px;
     transition: transform 0.3s ease;
     background: var(--light-spot-color);
   }

   .menu__link:hover::after {
     transform: scale(1);
   }
 }



 .iconify-arrow {
   transition: transform 0.3s linear;
 }

 .menu__link:hover > .iconify-arrow {
   transform: rotate(180deg);
 }



 .submenu,
 .subsubmenu {
   color: color-mix(in srgb, var(--light-spot-color) 20%, white 80%);
   background-color: #171717;
   border: 0.5px solid #3e1c71;
   position: absolute;
   flex-direction: column;
   gap: 0.4rem;
   padding: 2rem 1rem;
   border-radius: 0.6rem;
   transition: transform 0.3s ease-in-out;
   pointer-events: none;
   opacity: 0;
   text-wrap: nowrap;
 }

 .menu__item {
   padding: 6px;
   position: relative;
 }

 .submenu a,
 .subsubmenu a {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 4rem;
   border-radius: .4rem;
   color: #fff;
   color: var(--color-tertiary);
 }

 .submenu__item--seccondary,
 .submenu__item--tertiary {
   position: relative;

   a {
     padding: 2rem;
   }

   & a:hover {
     background: rgb(71, 70, 70);
     color: white;
   }
 }

 .submenu {
   padding: 1rem;
   right: -23px;

   &::after {
     content: "";
     position: absolute;
     top: -4rem;
     width: 100%;
     z-index: -3;
     pointer-events: none;
     height: 10rem;
   }
 }

 .subsubmenu {
   top: 0;
   left: auto;
   right: auto;
   min-width: 193px;

   &::before {
     content: "";
     position: absolute;
     top: -4rem;
     z-index: -1;
     pointer-events: none;
     height: 10rem;
     width: 20rem;
     height: 14rem;
   }

   &::after {
     content: "";
     position: absolute;
     top: -14px;
     right: 3rem;
     width: 100%;
     z-index: -3;
     height: 21rem;
   }
 }


 .submenu li {
   width: 100%;
 }


 .menu__item:hover > .submenu {
   opacity: 1;
   pointer-events: all;
   transform: translateY(2.5rem);

   &::after {
     pointer-events: all;
   }
 }

 .submenu li:hover > .subsubmenu {
   opacity: 1;
   pointer-events: all;

   &::before {
     pointer-events: all;
   }

   &::after {
     pointer-events: all;
   }
 }


 /* MOBILE NAV/PANEL */


 .mobile-header__menu {
   display: none;

   @media (width < 768px) {
     display: flex;
     flex-direction: column;
     width: 104vw;
     height: 100dvh;
     position: fixed;
     top: -16px;
     left: 0;
     background: #151515;
     z-index: 20;
     transition: transform 0.3s ease-in-out;
     transform: translateX(100%);
     padding: 10rem 2rem 2rem;
     color: var(--light-spot-color);

     a {
       color: var(--light-spot-color);
     }
   }



   ol {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     max-height: 76dvh;
     overflow-y: auto;

     li {

       a {
         border: solid 1px rgb(0, 255, 255, .2);
         border-radius: 4px;
         width: 100%;
         height: 4rem;
         font-size: 1.5rem;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0 1rem;
       }

       details {
         width: 100%;
         interpolate-size: allow-keywords;

         summary {
           background: linear-gradient(to right, rgb(0, 255, 255, .2), transparent);
           border-radius: 4px;
           width: 100%;
           height: 4rem;
           font-size: 1.5rem;
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding: 0 1rem;
         }

         &::details-content {
           transition:
             height 0.5s ease,
             opacity 0.5s ease,
             content-visibility 0.5s allow-discrete;
           opacity: 0;
           height: 0;
           overflow: clip;
         }

         &:open {
           iconify-icon {
             transform: rotate(180deg);
           }

           &::details-content {
             height: auto;
             opacity: 1;
           }
         }

         ol {
           border-left: dashed 1px var(--light-spot-color);
           padding-left: 2rem;
           margin-left: 1rem;
           margin-top: 1rem;

           details {
             width: 100%;

             ol {
               border-left: dashed 1px var(--light-spot-color);
               padding-left: 2rem;
             }
           }
         }
       }

     }
   }
 }

 .mobile-header__menu.is-active {
   transform: translateX(-7%);
 }

 .mobile-header__menu-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 1rem;
   background-color: #171717;
 }

 .menu__summary {
   width: 100%;
   font-size: 1.7rem;
   height: 5rem;
   color: #fff;
   display: flex;
   align-items: center;
 }