---
import BackgroundGradient from "@components/atoms/GradientBg/BackgroundGradient.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout headerType="fullscreen">
  <BackgroundGradient>
    <div class="header-demo">
      <h1>Header Demo</h1>
      <p>This is an example of the header in "fullscreen" mode.
        Note the differences with the "floating" mode:
      </p>
      <ul>
        <li>No padding in the header container</li>
        <li>No border-radius</li>
        <li>Occupies the full width of the screen</li>
        <li>Internal padding adjusted for fullscreen mode</li>
      </ul>

      <a href="/">See floating demo</a>
       <a href="https://www.npmjs.com/package/@sofidevo/astro-dynamic-header?activeTab=readme" target="_blank">Check on npm package</a>
    </div>
  </BackgroundGradient>
</Layout>


<style >

  .header-demo {
    text-align: left;
    padding: 20px;
    max-width: 800px;
    line-height: 1.6;
    h1 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    p{
      font-size: 15px;
    }
    a {
      color: aqua;
      font-size: 20px;
      background-color: black;
      padding: 10px 20px;
      border-radius: 4px;
      border: 1px solid aqua;
      margin-left: 10px;
    }

    ul {
      margin-left: 15px;
      li {
        margin-bottom: 5px;
        list-style: disc;
        font-size: 14px;
      }
    }
  }
  .header-demo > *:not(:last-child){
    margin-bottom: 20px;
  }
</style>