---
import BackgroundGradient from "@components/atoms/GradientBg/BackgroundGradient.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout headerType="fullscreen">
  <BackgroundGradient>
    <div style="height: 100vh; padding: 2rem; padding-top: 100px;">
      <h1>Fullscreen Header Demo</h1>
      <p>Este es un ejemplo del header en modo "fullscreen".</p>
      <p>Nota las diferencias:</p>
      <ul>
        <li>Sin padding en el contenedor del header</li>
        <li>Sin border-radius</li>
        <li>Ocupa todo el ancho de la pantalla</li>
        <li>Padding interno ajustado para modo fullscreen</li>
      </ul>
      <p><a href="/">Volver al demo floating</a></p>
    </div>
  </BackgroundGradient>
</Layout>
