---
import Layout from "../layouts/Layout.astro";
import BackgroundGradient from "@components/atoms/GradientBg/BackgroundGradient.astro";
---

<Layout headerType="floating">
  <BackgroundGradient>
    <div style="height: 100vh; padding: 2rem; padding-top: 120px;">
      <h1>Header Demo</h1>
      <p>Este es un ejemplo del header en modo "floating" (flotante).</p>
      <p>
        Para cambiar a modo "fullscreen", simplemente cambia la prop
        headerType="fullscreen" en el Layout.
      </p>
      <p><a href="/fullscreen-demo">Ver demo fullscreen</a></p>
    </div>
  </BackgroundGradient>
</Layout>
