---
import HamburgerButton from "./HamburgerButton/HamburgerButton.astro";
import NavMenu from "./nav-menu/NavMenu.astro";
const img = "/img/logo.png";

import MobileNav from "./nav-menu/MobileNav.astro";

export interface Props {
  headerType?: "floating" | "fullscreen";
}

const { headerType = "floating" } = Astro.props;
---

<script >
  import { HamburgerButton } from "./HamburgerButton/hamburger.ts";

</script>

<div class={`header__container header__container--${headerType}`}>
  <header class={`header header--${headerType}`}>
    <a href="/"><img class="header__logo" src={img} alt="Logo image" /></a>
    <NavMenu />
    <HamburgerButton />
    <MobileNav />
  </header>
</div>


<style>
  /* Base styles for header container */
  .header__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    z-index: 10;

    @media (width < 768px) {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  /* Floating header container styles */
  .header__container--floating {
    padding: 16px;
  }

  /* Fullscreen header container styles */
  .header__container--fullscreen {
    padding: 0;
  }

  /* Base styles for header */
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #0d0d0dcc;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    justify-content: space-between;

    @media (width < 768px) {
      align-self: flex-end;
      padding: 0.4rem;
      margin: 0 auto;
    }
  }

  /* Floating header styles */
  .header--floating {
    max-width: 1100px;
    border-radius: 18px;
    padding: 0.5rem 1rem;

    @media (width < 768px) {
      max-width: 95%;
    }
  }

  /* Fullscreen header styles */
  .header--fullscreen {
    border-radius: 0;
    padding: 1rem 2rem;

    @media (width < 768px) {
      max-width: 100%;
      padding: 0.8rem 1rem;
    }
  }

  .header__logo {
    width: 120px;
    margin-right: 1rem;
    object-fit: contain;
  }
</style>