
  .header__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    position: fixed;
    padding: 16px;
    z-index: 10;
    @media (width < 768px) {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    background-color: #0d0d0dcc;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 18px;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    @media (width < 768px) {
      max-width: 95%;
      align-self: flex-end;
      padding: 0.4rem;
      margin: 0 auto;
    }
  }
  .header__logo{
    width: 120px;
    margin-right: 1rem;
    object-fit: contain;
  }
