.button {
    color: white;
    font-weight: bold;
    background: var(--color-gradient1-start);
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 14px;
    border: 2px solid white;
    transition: background .4s ease-in-out;
    cursor: pointer;
}

.button:hover {
    color: black;
    background: var(--radial-gradient);
    border: 2px solid black;
}