---

import HeaderMenu from "@components/atoms/HeaderMenu/HeaderMenu";

---

<header class="header">
  <div class="header__container">
    <img
      class="header__logo"
      src="https://i.postimg.cc/RhxGxT03/2.png"
      alt="logo"
    />
    <HeaderMenu client:load />

  </div>
</header>

<style>
.header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.header__container {
  width: 100%;
  max-width: 80%;
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  background: rgb(0 0 0 / 51%);
  margin-top: 10rem;
  padding: 0.1rem 1rem;
  border-radius: 16px;
  backdrop-filter: blur(30px);
  position: fixed;
}

@media screen and (max-width: 768px) {
  .header__container {
    margin-top: 8rem;
    min-width:32rem;
    align-self: center;
  }
}

.header__logo {
  flex-basis: 10%;
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.header__container:has(.header__list.is-active) {
  backdrop-filter: none;
}


</style>
