---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import Header from '@sofidevo/astro-dynamic-header/Header';


const {headerType } = Astro.props;

import { menuItems } from "@src/menuItems.data.js";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>

    <Header headerType={headerType} menuItems={menuItems}  logoSrc="/img/logo.png" />

    <main>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height:100%;
    min-height: 100dvh;
    width: 100%;
    max-width: 1100px;
    padding: 2rem;
  }
</style>