---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "@components/BaseHead.astro";
import GradientBg from "@components/atoms/GradientBg/GradientBg.astro";
---

<html lang="en">
  <head>

    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <GradientBg/>
    <main>
      <slot />
    </main>
  </body>
</html>
