---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Header from "@components/header/Header.astro";

export interface Props {
  headerType?: "floating" | "fullscreen";
}

const { headerType = "floating" } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>

    <Header headerType={headerType} />
    <main>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
